*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer-wrap{
    background-color: #ededed;
}
a:link, a:visited{
    text-decoration: none;
    color: #000;
}
.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* =====================< Header CSS Start >==================== */
.header{
    background-color: #000;
    color: #fff;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.heading-info {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.main-heading{
    font-size: 50px;
}
.slogan-heading{
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
    font-style: italic;
    color: #f6d200;
}
.navbar{
    background-color: #f6d200;
    color: #fff;
}
.navbar ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.navbar ul li a:link, .navbar ul li a:visited{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.navbar ul li{
    flex-grow: 1;
    /* text-align: center; */
}
.navbar ul li a:hover, .navbar ul li a:active, .navbar ul li a:focus {
    background-color: #000;
    color: #f6d200;
}
/* =====================< Header CSS End >==================== */



/* =====================< Main-Content-Area CSS Start >==================== */
.main-content-area{
    padding: 20px;
}

/* ====================< Movie Post Section >==================== */
.posts {
    margin-bottom: 40px;
}
.movie-post{
    background-color: #fff;
    margin-bottom: 20px;
}
.post-info h3 {
    padding: 20px;
    text-align: center;
    background-color: #f6d200;
}
.movie-post:hover .post-info h3{
    background-color: #000;
    color: #f6d200;
}
.post-info p {
    padding: 20px;
}
/* ====================< Watch Today Section >==================== */
.watch-today{
    margin-bottom: 40px;
}
.heading{
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}
.watch-card{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}
.card-info {
    background-color: #000;
    color :#fff;
    padding: 50px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card-info h3 {
    margin-bottom: 20px;
}
.movie-details span {
    margin-right: 20px;
}
.card-info p {
    margin-bottom: 40px;
}
.card-info a {
    color: #fff;
    text-decoration: underline;
}

/* ====================< Download Now Section >==================== */
.download{
    margin-bottom: 40px;
}
.download-card{
    display: flex;
    flex-direction: column;
}
.download-icon{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}
.download-icon a{
    color: #fff;
}
.download-icon i {
    font-size: 30px;
}

/* ======================== ======================== */
.download-gener-cast{
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.download-gener, .download-cast {
    display: flex;
    flex-wrap: wrap;
}
.download-gener h4, .download-cast h4 {
    flex-basis: 20%;
    align-self: center;
}
.download-gener {
    margin-bottom: 10px;
}
.download-cast img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

/* ======================== ======================== */
.download-ratings{
    background-color: #f6d200;
    text-align: center;
    padding: 20px;
}
.download-ratings h4{
    font-size: 35px;
}
.download-ratings p{
    font-size: 12px;
}

/* ====================< Movies Gallary Section >==================== */


.gallary-post{
    margin-bottom: 10px;
}

/* =====================< Main-Content-Area CSS End >==================== */


/* =====================< Side-Bar-Area CSS Starts >==================== */
.side-bar{
    padding: 20px;
}
.card{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.card h2{
    margin-bottom: 20px;
}
.list-group{
    list-style: none;
}
.list-group li {
    display: block;
    margin: 5px 0 5px 30px;
}


/* ====================< Footer Section CSS >==================== */

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* =====================< Media Queries Start >==================== */

/* =====================< Media Queries for Tab >==================== */


@media All and (min-width : 768px){
    .navbar ul{
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
    .posts{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .movie-post{
        flex-basis: 49%;
    }
    .watch-card {
        flex-direction: row;
    }
    .card-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .card-reverse {
        flex-direction: row-reverse;
    }
    .download-info{
        display: flex;
    }
    .download-icon{
        flex-basis: 25%;
    }
    .download-gener-cast{
        flex-basis: 50%;
    }
    .download-ratings{
        flex-basis: 25%;
    }
    .movies-gallary{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .gallary-post{
        flex-basis: 49%;
    }
    .gallary-post a img{
        height: 300px;
    }
}

/* =====================< Media Queries for Desktop >==================== */


@media All and (min-width : 1200px) {
    .content-area{
        display: flex;
    }
    .side-bar {
        /* flex-grow: 0; */
        /* flex-shrink: 0; */
        /* flex-basis: 400px; */
        flex: 0 0 400px;
    }
    .main-heading{
        font-size: 80px;
    }
    .post-half {
        flex-basis: 49%;
    }
    .post-one-third {
        flex-basis: 32%;
    }
    .post-full {
        flex-basis: 100%;
    }
    .gallary-post:nth-child(n + 1){
        flex-basis: 39%;
    }
    .gallary-post:nth-child(n + 2){
        flex-basis: 60%;
    }
    .gallary-post:nth-child(n + 3){
        flex-basis: 29%;
    }
    .gallary-post:nth-child(n + 4){
        flex-basis: 70%;
    }
    .gallary-post:nth-child(n + 5){
        flex-basis: 49.5%;
    }
    .gallary-post:nth-child(n + 7){
        flex-basis: 39%;
    }
    .gallary-post:nth-child(n + 8){
        flex-basis: 60%;
    }
    .gallary-post:nth-child(n + 9){
        flex-basis: 32%;
    }
    .gallary-post:nth-child(n + 10){
        flex-basis: 67%;
    }
}